@namespace VewTech.AutoTime.UI.Components

<div class='btn-group'>
    <button class='btn btn-dark dropdown-toggle' data-bs-toggle='dropdown'>
        <i class='bi bi-github pad2y' style="
                        color: 'white',
                        paddingRight: '10px'
                    " />
        REPOSITORIO
    </button>

    <div class='dropdown-menu'>
        <a class='dropdown-item' href='/repo'>Ver aquí</a>
        <a class='dropdown-item' href='https://github.com/VewTech/AutoTime' target='_blank' rel='noreferrer'>
            Abrir en GitHub
        </a>
    </div>
</div>